<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeechRecognitionApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8EFF90C1E410A1100336575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8EFF9201E410A1200336575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8EFF92B1E410A1200336575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
